h1 {
  width: 100%;
  font-size: 50px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}

.boundBox {
  height:10px;
  width:100%;
  background-color:lightpink;
}

section.bookBuffer {
  height:1000px;
  width:100%;
  
}

.pageContainer {
  /* padding:100px; */
  display: inline-block;
  position: relative;
  width:80%;
}

.mainComponent {
  /* display: none; */
  opacity: 0;
  transition: .2s;

}



.displayNone {
  display:none;
}

.selectedComponent {

  opacity: 100;
  transition: .2s;

}

.pageSeam {
  position: relative;
  width: 100%;
}
.pageContent {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .5s;
  transform-origin: center center;
}

.closedPage {
  transition: .2s;
  opacity: 0;
}
